{% extends 'index/layout.html' %}

{% block title %}

{% endblock %}

{% block content %}

<h1 style="margin-top: 10%">Звоните по номеру:</h1>
    <div style="background-color: #BDD7FE; padding-bottom: 20px">
        <h1>{{ phone_number }}</h1>
    </div>
<h1 style="margin-top: 10%">Или приходите в гости по адресу:</h1>
    <div style="background-color: #BDD7FE; padding-bottom: 20px">
        <h1>Город Домодедово, ул. 25 лет октября, дом 9. Цокольный этаж.</h1>
    </div>
{% endblock %}