{% extends 'index/layout.html' %}
<head>
    <script src="our_results.js"></script>
</head>
{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div id="block_wrapper">

    {% for element in our_works %}
        <a href="{% url 'works-detail' element.id %}"><div id="post">

            <div id="decriptionBlock">
                <h3>{{ element.name }}</h3>
                <p>{{ element.description }}</p>
            </div>
            <img src="{{ element.image.url }}" id="postImg">
        </div>
        </a>
    {% endfor %}

{% endblock %}